body {
  background-color: rgb(178, 241, 241);
}

.square {
  border-radius: 10px;
  border: 2px solid #6252f0;
  padding: 10px;
  width: 200px;
  height: 150px;
}
hr {
  color: #6252f0;
}

/* .pageHeader {
  display: flex;
} */
